# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_DTEST_D
    def_bool $(shields_list_contains,dtest_d)
    
config SHIELD_DTEST_L
    def_bool $(shields_list_contains,dtest_l)